<div class="modal-dialog">
    <div class="modal-content">

        <h5 class="modal-header text-primary bg-light fw-bold">Subject Form</h5>


        <div class="modal-body">
            <form [formGroup]='form' action="">
                <div class="form-input-group">
                    <label class="form-label ">Name</label>
                    <input formControlName="name" type="text" class="form-control">
                </div>
                <div class="form-input-group">
                    <label class="form-label ">Fee</label>
                    <input formControlName="fee" type="text" class="form-control">
                </div>
                <div class="form-input-group">
                    <label class="form-label ">Start Date</label>
                    <input formControlName="startDate" type="date" class="form-control date">
                </div>
                <div class="form-input-group">
                    <label class="form-label ">Duration</label>
                    <input formControlName="duration" type="text" class="form-control">
                </div>
                <div class="form-input-group">
                    <label class="form-label ">Level</label>
                    <input formControlName="level" type="text" class="form-control">
                </div>
                <div class="form-input-group my-2">
                    <label class="form-label ">Teacher</label>
                    <select formControlName="teacher" class="form-select">
                        <option selected>Choose Teacher</option>
                        <option *ngFor="let teacher of teacherLists" [value]="teacher.id">
                            {{teacher.name}}</option>

                    </select>
                </div>

                <div *ngFor="let subject of subjectLists" class="form-check form-check-inline">
                    <input formArrayName="subjects" (change)="onCheckChange($event) " class="form-check-input " type="checkbox" [value]="subject.id ">
                    <label class="form-check-label ">
                        {{subject.name}}
                    </label>
                </div>

                <pre>{{this.form.value | json}}</pre>

            </form>

        </div>
        <div class="modal-footer ">
            <button type="button " class="btn btn-secondary " data-bs-dismiss="modal"><i class="bi bi-door-closed "></i>
                Close</button>
            <button (click)="save() " type="button " class="btn btn-primary " data-bs-dismiss="modal"><i
                    class="bi bi-save "></i>
                Save</button>
        </div>
    </div>
</div>